%h1 Color Schemes
.row
  - @named_gradients.each do |named_gradient|
    .col-md-6.col-sm-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title= named_gradient.name
        .panel-body{ style: named_gradient.gradient.to_css + "height:100px;" }

.row
  .col-md-12
    = link_to new_grd_import_path, class: "btn btn-default" do
      %span.glyphicon.glyphicon-cloud-upload
      = "Import color schemes from Adobe Photoshop"