.page-header
  %h1 Choose which gradients to save
.row
  - @gradient_forms.each_with_index do |gradient_form, idx|
    = render "components/gradient_form", gradient_form: gradient_form

.row
  .col-md-12.text-right
    = link_to gradients_path, class: "btn btn-default" do
      %span.glyphicon.glyphicon-th-large
      = "List all saved gradients"