%h1 Import gradients from Adobe Photoshop
= simple_form_for @grd_import_form, url: new_grd_import_path, multipart: true do |f|
  = f.input :upload_id, as: :hidden
  = f.input :file, as: :file
  = f.submit "Upload file", class: "btn", disable_with: "Uploading file..."
